{% extends "base.html" %}


{% set JumboText_h1 = userName + " , Welcome Home." %}
{% set btnGroupToggle = "style='display: none'" %}

{% if is_supplier %}
{% set styleToggle = "style='display: none'" %}
{% endif %}

{% block content %}


<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle" src="https://cdn.worldvectorlogo.com/logos/hella.svg" alt="Generic placeholder image" width="140" height="140">
        <h3>{{ project_name1 }}</h3>
        <p>Sample date: {{ t3_date1 }}</p>
        <p><a class="btn btn-secondary" href="/project/{{ project_no1 }}" role="button">View details »</a></p>
    </div>


    <div class="col-lg-4">
        <img class="rounded-circle" src="https://cdn.worldvectorlogo.com/logos/hella.svg" alt="Generic placeholder image" width="140" height="140">
        <h4>{{ project_name2 }}</h4>
        <p>Sample date: {{ t3_date2 }}</p>
        <p><a class="btn btn-secondary" href="/project/{{ project_no2 }}" role="button">View details »</a></p>
    </div>



    <div class="col-lg-4">
        <img class="rounded-circle" src="https://cdn.worldvectorlogo.com/logos/hella.svg" alt="Generic placeholder image" width="140" height="140">
        <h4>{{ project_name3 }}</h4>
        <p>Sample date: {{ t3_date3 }}</p>
        <p><a class="btn btn-secondary" href="/project/{{ project_no3 }}" role="button">View details »</a></p>
    </div>
</div>


{% endblock %}
