<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/main">All Projects<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/project/new/info/create">Create Project</a>
                <a class="nav-item nav-link" href="/login">Logout</a>
            </div>
        </div>
    </nav>
