{% extends "base.html" %}

{% set JumboText_h1 = project_name + " Overview" %}
{% set JumboText_p1 = "Plan Sourcing Date: " + project_no %}
{% set JumboText_p2 = "Plan Sourcing Date: " + project_no %}
{% set JumboText_p3 = "Plan Sourcing Date: " + project_no %}

{% block content %}
<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="used for JS" alt="put part image/drawing here" style="height: 225px; width: 100%; display: block;" src="http://www.myhellalights.com/logo.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">123.456-78 Operation Element</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Price</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Technical</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Logistic</button>
                    </div>
                    <small class="text-muted">9 days</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="used for JS" alt="put part image/drawing here" style="height: 225px; width: 100%; display: block;" src="http://www.myhellalights.com/logo.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Here put the brief introduction of the part.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Price Status</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">FS Status</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Log Status</button>
                    </div>
                    <small class="text-muted">9 days</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="used for JS" alt="put part image/drawing here" style="height: 225px; width: 100%; display: block;" src="http://www.myhellalights.com/logo.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Here put the brief introduction of the part.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Price Compare</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Other Status</button>
                    </div>
                    <small class="text-muted">9 days</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
{% endblock %}
