{% extends "base.html" %}

{% set JumboText_h1 = project_name + " Overview" %}
{% set JumboText_p1 = 'is read' %}
{% set JumboText_p2 = None %}


{% if is_read %}
{% set formToggle = "readonly" %} 
{% set btnText = "click to edit" %}
{% set btnDirection = "/test/project/" + project_no + "/info/update" %} 
{% endif %} 


{% block content %}
  <form action={{ btnDirection }} method="POST">

      {% for item in projectDeck %}

      <div class="form-group {{ item[3] }}">
          <label for="{{ item[0] }}">{{ item[2] }}</label>
          <input name="{{ item[0] }}" type="text" class="form-contrl" placeholder="{{ item[1] }}" />
      </div>

      {% endfor %}


 <hr>

 <input class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="{{btnText}}">

<br>

  </form>
{% endblock %}
